<?xml version="1.0"?>
<config>
    <modules>
        <Efetech_Brand>
            <version>1.0</version>
        </Efetech_Brand>
    </modules>
    <global>
        <helpers>
            <efe_brand>
                <class>Efetech_Brand_Helper</class>
            </efe_brand>
        </helpers>
        <blocks>
        	<efe_brand>
                <class>Efetech_Brand_Block</class>
            </efe_brand>
        </blocks>
    </global>
    <frontend>
        <routers>
            <efe_brand>
                <use>standard</use>
                <args>
                    <module>Efetech_Brand</module>
                    <frontName>searchByBrand</frontName>
                </args>
            </efe_brand>
        </routers>
        <layout>
            <updates>
                <efe_brand>
                    <file>efetech_brand.xml</file>
                </efe_brand>
            </updates>
        </layout>
    </frontend>
</config>