<?xml version="1.0"?>
<config>
  <modules>
    <Efetech_Bringg>
      <version>0.1.0</version>
    </Efetech_Bringg>
  </modules>
  <crontab>
    <jobs>
      <bringg>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>bringg/observer::cronTask</model>
        </run>
      </bringg>
    </jobs>
  </crontab>
  <global>
    <blocks>
      <bringg>
        <class>Efetech_Bringg_Block</class>
      </bringg>
    </blocks>
    <helpers>
      <bringg>
        <class>Efetech_Bringg_Helper</class>
      </bringg>
    </helpers>
    <models>
      <bringg>
        <class>Efetech_Bringg_Model</class>
      </bringg>
    </models>
    <events>
      <checkout_type_onepage_save_order>
        <observers>
          <delivery_date_observer>
            <type>singleton</type>
            <class>bringg/observer</class>
            <method>saveCustomData</method>
          </delivery_date_observer>
        </observers>
      </checkout_type_onepage_save_order>
    </events>
  </global>
  <frontend>
    <routers>
      <bringg>
        <use>standard</use>
        <args>
          <module>Efetech_Bringg</module>
          <frontName>bringg</frontName>
        </args>
      </bringg>
    </routers>
    <layout>
      <updates>
        <bringg>
          <file>efetech_bringg.xml</file>
        </bringg>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <efetech>
                      <title>efetech - All</title>
                    </efetech>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config> 